:root {
  --white: #fff;
  --primary: #158A8A;
  --gray-300: #969696;
  --gray-500: #5F5F5F;
  --gray-700: #313131;
  --primary-hover: #099A9A;
  --negative: #e20d0d;

  --sm-min: 640px;
  --sm-max: 767px;
  --md-min: 768px;
  --md-max: 1023px;
  --lg-min: 1024px;
  --lg-max: 1279px;
  --xl-min: 1280px;
  --xl-max: 1535px;
  --2xl-min: 1536px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}